* {
  margin: 0;
  padding: 0;
}

:root {
  --brand: #820000;
  --brand-red: #DC0000;
  --mi-font: font-family: 'Russo One', sans-serif;
}

.brand-bg {
  background: var(--brand);
}

.brand-color {
  color: var(--brand);
}

.red-bg {
  background: var(--brand-red);
}

.red {
  color: var(--brand-red);
}

.regi-font {
  font-family: var(--mi-font);
}